h1{
    text-align: center;
    font-size: 3rem;
    font-family: "Roboto", Verdana;
}

main{
    padding: 0 10em;
}

section{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section .square{
    width: 20rem;
    height: 20rem;
    margin:1rem; 
    background-color: red;
}

.search-group{
    display: flex;
    justify-content: center;
}

.search-group input{
    width: 55%;
    padding-left: 1rem;
    border-radius: 0.2rem;
    border: #e8e8e8 0.1rem solid;
}

.search-group a{
    border: #e8e8e8 0.1rem solid;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}


.search-group a:hover{
    cursor: pointer;
    background-color: #f3f3f3;   
}

.search-group a:active{
    background-color: #ededed;   
}


@media only screen and (max-width: 1040px) {

    main{
        padding: 0 2em;
    }

    section .square{
        width: 100%;    
    }   
}